/* @/app/page.module.css */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* footer를 아래에 붙게 합니다 */
  min-height: 100vh;
  padding: 6rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 32px */
  align-items: center;
}

.main ol {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  @apply bg-gray-100 dark:bg-gray-800;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 1rem; /* 16px */
}

.ctas a {
  border-radius: 9999px;
  height: 48px;
  padding: 0 20px;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border: 1px solid transparent;
}

a.primary {
  @apply bg-black text-white dark:bg-white dark:text-black;
  gap: 8px;
}

a.secondary {
  @apply border-gray-200 dark:border-gray-700;
  min-width: 158px;
}

.footer {
  display: flex;
  gap: 1.5rem; /* 24px */
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    @apply bg-gray-800 dark:bg-gray-200;
  }
  a.secondary:hover {
    @apply bg-gray-100 dark:bg-gray-800;
  }
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 2rem; /* 32px */
    padding-bottom: 5rem; /* 80px */
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  filter: none; /* 다크모드 기본 로고 필터 제거 */
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1); /* 다크모드일 때만 로고 색상 반전 */
  }
}
